# Node
node_modules/
npm-debug.log*

# Playwright
playwright-report/
reports/
test-results/
.auth/
**/playwright-e2e/.auth/

# Logs
logs/
*.log

# Env
.env
.env.*
!.env.example
!**/.env.example

# Reporting & Artifacts
allure-results/
allure-report/
**/allure-results/
**/allure-report/
coverage/
.nyc_output/

# JMeter Outputs
*.jtl
jmeter/Results/
jmeter/Reports/
!jmeter/TestData/*.csv

# OS
.DS_Store
Thumbs.db

