node_modules/
dist/
**/dist/
build/
**/build/
coverage/
**/coverage/
reports/
**/reports/
allure-results/
**/allure-results/
allure-report/
**/allure-report/
monocart-report/
**/monocart-report/
test-results/
**/test-results/
playwright-report/
**/playwright-report/
.auth/
**/.auth/
.temp/
**/.temp/
.husky/
package-lock.json
*.jmx
**/*.jmx
*.csv
**/*.csv
*.min.js
**/*.min.js
planning/
docs/
**/test_cases_catalog.md
